
coverage --incompatible_depset_is_not_iterable=false --jobs=3

# show all coverage outputs
coverage --test_output=all --verbose_failures
coverage --instrumentation_filter=
coverage:cc_coverage --instrument_test_targets --experimental_cc_coverage --combined_report=lcov --coverage_report_generator=@bazel_tools//tools/test/CoverageOutputGenerator/java/com/google/devtools/coverageoutputgenerator:Main


# show all test output, make failures verbose and never cache
test --test_output=all --verbose_failures --cache_test_results=no

test:asan --linkopt -fsanitize=address
